$svgColor: #ff6384;
$offBlue: #c8e1ff;
$offWhite: #f6f8fa;
$black: #27292d;
$lightGrey: #586069;
$darkGrey: #383a40;
$white: #ffffff;
$purple: #36a2eb;

$custom-color-1: #ff6384;
$custom-color-2: #36a2eb;
$custom-color-3: #cc65fe;
$custom-color-4: #ffce56;

$inter: "Inter", -apple-system, sans-serif;
$mono: "SF Mono", Fira Code, Fira Mono, sans-serif;

$transition: all 0.2s ease-in-out;